@model List<proyecto.Models.Inmueble>
@{
    ViewData["Title"] = "Inmuebles Disponibles";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="flex: 1; position: absolute; text-align: center;">LISTA DE INMUEBLES DISPONIBLES Y SUS DUEÑOS</h3>
    <div style="margin-left: auto;">
        <a asp-action="Index" class="btn btn-secondary" style="float: right;">Volver atras</a>
    </div>
</div>
<hr />
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>DUEÑO</th>
            <th>DIRECCION</th>
            <th>TIPO</th>
            <th>USO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@(item.Duenio.Nombre + " " + item.Duenio.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td>@Html.DisplayFor(modelItem => item.Uso)</td>
            </tr>
        }
    </tbody>
</table>
