@{
    ViewData["Title"] = "Inmobiliaria ULP";
}

<div class="text-center">
    <h2 class="display-4" style="font-family: Roboto Slab, serif;">BIENVENIDOS A INMOBILIARIA ULP!!</h2>
    <hr />
    <h4 style="font-family: Inter, sans-serif;">Esta es una pagina web creada para la gestion y administracion de una inmobiliaria utilizando .NET.</h4>
</div>
