@model proyecto.Models.Pago

@{
    ViewData["Title"] = "Crear Pago";
    var listContratos = (List<Contrato>)ViewBag.Contratos;
}

<h3 style="text-align: center;">CREAR PAGO</h3>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="Create">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdContrato" class="control-label">ID CONTRATO:</label>
                    <input asp-for="IdContrato" class="form-control" required/>
                    <span asp-validation-for="IdContrato" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="NumeroDePago" class="control-label">NUMERO DE PAGO:</label>
                    <input asp-for="NumeroDePago" type="number" class="form-control" required/>
                    <span asp-validation-for="NumeroDePago" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="FechaDePago" class="control-label">FECHA DE PAGO:</label>
                    <input asp-for="FechaDePago" class="form-control" required/>
                    <span asp-validation-for="FechaDePago" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Importe" class="control-label">IMPORTE:</label>
                    <input asp-for="Importe" type="number" class="form-control" required/>
                    <span asp-validation-for="Importe" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Crear" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-secondary">Volver atras</a>
                </div>
            </div>
        </div>
    </form>
</div>