@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Pago";
    var listContratos = (List<Contrato>)ViewBag.Contratos;
}

<h4 style="text-align: center;">SELECCIONAR EL CONTRATO PARA VER EL LISTADO DE SUS PAGOS</h4>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="ListarPagos">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdContrato" class="control-label">ID DEL CONTRATO Y DIRECCION:</label>
                    <select class="form-select" name="IdContrato" required>
                        @foreach(var pro in  listContratos){
                            <option value="@pro.IdContrato">@(pro.IdContrato +" - "+ pro.Lugar.Direccion)</option>
                        }
                    </select>
                    <span asp-validation-for="IdContrato" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Seleccionar" class="btn btn-primary" /> |
                    <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
                </div>
            </div>
        </div>
    </form>
</div>