@model proyecto.Models.Usuario

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>Cambiar Contraseña</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiarPasswordd">
            <h4>Ingrese la nueva contraseña</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="IdUsuario" class="control-label">Id Usuario</label>
                <input asp-for="IdUsuario" class="form-control"/>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar Contraseña</label>
                <input name="ConfirmarPassword" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <button class="btn btn-secondary" asp-action="Perfil">Volver atras</button>
            </div>
        </form>
    </div>
</div>

