@model proyecto.Models.Usuario

@{
    ViewData["Title"] = "Editar Perfil";
}

<h3 style="text-align: center;">EDITAR PERFIL</h3>
<hr />
<div class="contenedorFormulario">
    <form asp-action="Edit">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">NOMBRE:</label>
                    <input asp-for="Nombre" class="form-control" required/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label">APELLIDO:</label>
                    <input asp-for="Apellido" class="form-control" required/>
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Rol" class="control-label">ROL:</label>
                    <select asp-for="Rol" class="form-control" required>
                        <option value="administrador">Administrador</option>
                        <option value="empleado">Empleado</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 34px;">
                <div class="form-group" style="width: max-content;">
                     <a href="@Url.Action("CambiarPassword", new { id= Model.IdUsuario })" class="btn btn-info">Cambiar Contraseña</a>
                </div>
            </div>
            <div class="col" style="margin-top: 34px;">
                <div class="form-group" style="width: max-content;">
                    <a href="@Url.Action("CambiarFoto", new { id= Model.IdUsuario })" class="btn btn-info">Cambiar Avatar</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @{
                        string returnUrl = (string)ViewBag.ReturnUrl ?? "Index";
                    }
                    <a href="@Url.Action(returnUrl, "Usuarios")" class="btn btn-secondary">Volver atrás</a>
                </div>
            </div>
        </div>
    </form>
</div>