@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Contratos";
    var listInmuebles = (List<Inmueble>)ViewBag.Inmuebles;
}

<h4 style="text-align: center;">SELECCIONE EL INMUEBLE DEL CUAL DESEA VER TODOS LOS CONTRATOS</h4>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="ContratosxInmueble">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdInmueble" class="control-label">DIRECCION:</label>
                    <select class="form-select" name="IdInmueble" required>
                        @foreach(var pro in  listInmuebles){
                            <option value="@pro.IdInmueble">@(pro.Direccion)</option>
                        }
                    </select>
                    <span asp-validation-for="IdInmueble" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <input type="submit" value="Seleccionar" class="btn btn-primary" /> |
                    <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
                </div>
            </div>
        </div>
    </form>
</div>