@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Contratos";
    var listInmuebles = (List<Inmueble>)ViewBag.Inmuebles;
}

<h1>Crear Nuevo Contrato</h1>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContratosxInmueble">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdInmueble" class="control-label">Direccion</label>
                <select class="form-select" name="IdInmueble" required>
                    @foreach(var pro in  listInmuebles){
                        <option value="@pro.IdInmueble">@(pro.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Seleccionar" class="btn btn-primary" /> |
                <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
            </div>
        </form>
    </div>
</div>
