html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.opciones{
  display: flex;
  flex-wrap: wrap;
}

.opciones button{
  margin-left: 5px;
}

.opcionesContenedor{
  display: flex;
  flex-wrap: wrap;
}
.opcionesContenedor p{
  margin-left: 5px;
}