html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a, td, p, label, dd{
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, th, dt{
  font-family: Roboto Slab, serif;
}

.contenedorFormulario{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.contenedorDetalles{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;
}

.contenidoDelete{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;
}

.opciones{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.opciones button{
  margin-left: 5px;
}

.opcionesContenedor{
  display: flex;
  flex-wrap: wrap;
}
.opcionesContenedor p{
  margin-left: 5px;
}

.contenedorPerfil{
  color: #fcfcfc;
}
